In [1]:
import os 
import pandas as pd
import numpy as nmp

In [2]:
base_path = '/mnt/DataRAID/melismail/PDAC/data'
preprocessing_path ='Preprocessing_celltypes_annotation'

Load csv files

In [3]:
df_coordinates = pd.read_csv(os.path.join(base_path, preprocessing_path, f"allPatients_positions.csv"), sep=',')
df_annotation =  pd.read_csv(os.path.join(base_path, preprocessing_path, f"celltype_annotation.csv"), sep=',')
df_pathID = pd.read_csv(os.path.join(base_path, preprocessing_path, f"patID_pseud.csv"), sep=',')

Process dataframes

In [4]:
print(df_coordinates.columns)
df_coordinates

Index(['Unnamed: 0', '0', '1'], dtype='object')

       Unnamed: 0             0             1
0             7-0  10623.706114  19271.727153
1            31-0  12858.731325  17255.541654
2            51-0  12293.119361  14888.806039
3            53-0  15802.631312   5829.612190
4            54-0  16594.302945  16868.011220
...           ...           ...           ...
116110    76467-9  12601.735103  11803.529204
116111    76506-9  12157.653078  15946.948841
116112    76749-9   8624.668421  12661.034211
116113    76796-9   5241.016736   4720.960323
116114    76863-9  14625.666197   6470.794366

[116115 rows x 3 columns]

In [5]:
df_coordinates.rename(columns = {'Unnamed: 0':'Cartana', '0':'y', '1':'x'}, inplace=True)
df_coordinates = df_coordinates.iloc[:, [0,2,1]]

In [6]:
df_coordinates['x'] = nmp.ceil(df_coordinates['x']/2)
df_coordinates['y'] = nmp.ceil(df_coordinates['y']/2)

In [7]:
print(type(df_coordinates['x'][0]))

<class 'numpy.float64'>

In [8]:
#df_coordinates[['Cartana_x', 'Cartana_y']] = df_coordinates['Cartana'].str.split('-', expand=True)
#df_temp = df_coordinates['Cartana'].str.split('-', expand=True)

In [9]:
df_annotation.rename(columns = {'Unnamed: 0': 'Cartana'}, inplace=True)

In [10]:
df_pathID.rename(columns = {'Unnamed: 0': 'Cartana_y'}, inplace=True)

Merge dataframe

In [11]:
df_merged_coord_ann = pd.merge(df_coordinates, df_annotation, on='Cartana')

In [12]:
df_merged_coord_ann[['Cartana_x', 'Cartana_y']] = df_merged_coord_ann['Cartana'].str.split('-', expand=True)

In [13]:
df_merged_coord_ann['Cartana_y'] = df_merged_coord_ann['Cartana_y'].astype(int)

In [14]:
df_labels = pd.merge(df_merged_coord_ann, df_pathID, on='Cartana_y')

In [15]:
print(df_labels.head())

  Cartana       x       y  celltypes_fine celltypes_coarse Cartana_x  \
0     7-0  9636.0  5312.0   Schwann cells    Schwann cells         7
1    31-0  8628.0  6430.0     myCAF_POSTN      Fibroblasts        31
2    51-0  7445.0  6147.0  Classical_KRT7   Classical PDAC        51
3    53-0  2915.0  7902.0  Classical_KRT7   Classical PDAC        53
4    54-0  8435.0  8298.0     myCAF_POSTN      Fibroblasts        54

   Cartana_y  Patient ID  Pseudonym
0          0           1  18QH2FGR4
1          0           1  18QH2FGR4
2          0           1  18QH2FGR4
3          0           1  18QH2FGR4
4          0           1  18QH2FGR4

In [16]:
df_labels.to_csv(os.path.join(base_path, preprocessing_path, f"combined_info_celltypes.csv"), sep='\t', index=False)

In [17]:
df_labels['celltypes_fine'].unique()

array(['Schwann cells', 'myCAF_POSTN', 'Classical_KRT7',
       'Classical_CEACAM', 'Acinar cells', 'T cells', 'Beta cells',
       'Basal', 'Classical_TFF1', 'Endothelial cells', 'B cells',
       'Ductal cells', 'Macrophages_M2', 'Alpha cells', 'NK cells',
       'Delta cells', 'myCAF_ACTA2', 'Dendritic cells', 'iCAF',
       'Classical_REG4', 'Macrophages_M1', 'Gamma cells'], dtype=object)

In [18]:
df_labels['celltypes_coarse'].unique()

array(['Schwann cells', 'Fibroblasts', 'Classical PDAC', 'Acinar cells',
       'Lymphocytes', 'Endocrine cells', 'Basal-like PDAC',
       'Endothelial cells', 'Ductal cells', 'Macrophages',
       'Dendritic cells'], dtype=object)